* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; /*conteúdo é cortado e nenhuma barra de rolagem é exibida*/
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation { /* @keyframesregra - especifica o código de uma animação.*/
    from{
        right: -80px;/*80px seria o tamanho da imagem, com isso ela não aparecerá na tela*/
    }
    to{
        right: 100%;
    }
}